<% provide(:title, t(".title")) %>
<div class="container my-4">
  <div class="card bg-dark text-white border-secondary">
    <div class="card-body">
      <h4 class="card-title text-secondary"><%= t(".title") %></h4>
      <hr class="border-secondary mb-4" />
      <%= render "form" %>
    </div>
  </div>
</div>
