<%= render "course_layout" do %>
  <!-- Member list (C) -->
  <div class="member-list-section">
    <%= render "trainer_list", trainers: @trainers, trainer_count: @trainer_count %>
    <%= render "trainee_list", trainees: @trainees, trainee_count: @trainee_count, pagy: @pagy %>
  </div>
<% end %>
