<%= render "course_layout" do %>
  <div class="subjects-content">
    <div class="subjects-list">
      <% @course_subjects.each do |course_subject| %>
        <%= render "subject_item", course_subject: course_subject %>
      <% end %>
    </div>
  </div>
<% end %>
