<% provide(:title, t(".title")) %>
<h3 class="page-header"><%= t(".title") %></h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <div class="col-sm-8">
        <%= render "form", form_url: supervisor_task_path(@task), submit_label: t(".update") %>
      </div>
    </div>
  </div>
</div>
