<% provide(:title, t(".title")) %>
<h2 class="mt-15 mb-15"><%= t(".title") %></h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <div class="col-sm-8">
        <%= render "form", form_url: supervisor_tasks_path, submit_label: t(".add") %>
      </div>
    </div>
  </div>
</div>
