<div class="info-item">
  <div class="info-icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="info-content">
    <label class="info-label"><%= label %></label>
    <div class="info-value"><%= value %></div>
  </div>
</div>
