<!-- Trainer List -->
<div class="trainer-section">
  <h3 class="section-title">
    <%= t("courses.members.trainer_list") %> (<%= trainer_count %>)
  </h3>

  <div class="trainer-list">
    <% trainers.each do |trainer| %>
      <div class="trainer-item">
        <div class="trainer-avatar">
          <%= gravatar_for trainer %>
        </div>
        <div class="trainer-name">
          <%= link_to trainer.name, user_path(trainer), class: "trainer-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
