@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;

  section {
    overflow: auto;
  }
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* language switcher */
.language-switcher {
  position: relative;

  &:hover .language-toggle {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
  }

  &:hover .language-toggle .caret {
    border-top-color: #fff;
  }

  &:hover .language-menu,
  &:focus-within .language-menu {
    display: block;
  }
}

.language-toggle {
  color: #9d9d9d;
  display: block;
  padding: 12px 24px;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
  }

  .caret {
    border-top-color: #9d9d9d;
    margin-left: 5px;
  }
}

.language-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
  list-style: none;
  margin: 2px 0 0;
  min-width: 80px;
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;

  &:hover {
    display: block;
  }

  li {
    margin: 0;

    a {
      clear: both;
      color: #333;
      display: block;
      font-weight: normal;
      line-height: 1.42857143;
      padding: 3px 20px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: #f5f5f5;
        color: #262626;
      }
    }
  }
}

/* microposts */
.microposts {
  margin-top: 20px;
}

.micropost {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px;

  .content {
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .timestamp {
    color: #657786;
    font-size: 0.9em;
  }
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}

input {
  height: auto !important;
}

.dropdown-menu.active {
  display: block;
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

/* header */
#logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}
