<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="editProfileModalLabel">
          <i class="fas fa-edit mr-2"></i><%= t(".edit_profile_title") %>
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= render "admin/users/edit_profile_form", user_trainee: @user_supervisor %>
    </div>
  </div>
</div>
