<tr>
  <td><%= category.name %></td>
  <td><%= category.subjects.size %></td>
  <td>
    <%= link_to t(".detail"), supervisor_category_path(category), class: "btn btn-info btn-sm" %>
    <%= link_to t(".delete"), supervisor_category_path(category), data: {turbo_method: :delete, turbo_confirm: t(".confirm_delete")}, class: "btn btn-danger btn-sm" %>
  </td>
</tr>
